---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/react/ContactForm';

export const prerender = true;
---

<Layout title="Contact">
    <div class="flex xl:items-center pt-4 pl-3 md:pl-6">
        <p class="font-georgia text-black selection:text-blue-499 text-xl md:text-3xl lg:text-4xl font-normal pr-1">
            <span class="capitalize text-blue-499 selection:text-black font-neue-haas-grotesk-display font-semibold md:font-bold">
                Want to work together?&nbsp;
            </span>
            If you've got a project or idea, I'm keen to hear about it.
        </p>
    </div>
    <div class="flex items-center pt-6 pl-3 md:pl-6 pr-3">
        <p class="font-georgia text-black selection:text-blue-499 text-xl md:text-3xl lg:text-4xl font-normal">
            Whether you’re looking to collaborate or just want to chat, send me a message through the form below.
        </p>
    </div>
    <ContactForm client:load/>
</Layout>
