---
import Head from "../components/includes/Head.astro"
import Screensaver from "../components/react/Screensaver"
import Header from "../components/includes/Header.astro"
import Footer from "../components/includes/Footer.astro"

interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-black" transition:animate="none">
<head>
    <Head title={title}/>
</head>

<body class="bg-white">
<Screensaver client:only="react"/>
<div class="flex flex-col h-screen">
    <header>
        <Header title={title}/>
    </header>

    <main class="flex-1">
        <slot/>
    </main>

    <footer>
        <Footer/>
    </footer>
</div>
</body>
</html>
